# Roboflow Configuration
ROBOFLOW_API_KEY=hJnzXA8i1gDgedcneU6z
ROBOFLOW_WORKSPACE=corpus-e4hp8
ROBOFLOW_PROJECT=corpus-hucc7
ROBOFLOW_VERSION=1
ROBOFLOW_OUTPUT_DIR=datasets

# Training Configuration
TRAIN_OUTPUT_DIR=runs
MODEL_SIZE=n  # n, s, m, l, x (nano, small, medium, large, xlarge)
EPOCHS=100
BATCH_SIZE=16
DEVICE=0  # GPU device or cpu
